@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Karla';
}
 
body {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}
 
.container {
    display: grid;
    width: 600px;
    height: 400px;
    grid-template-areas:
        "top top"
        "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.200);
}
 
span{
    font-size: 30px;
}

.top {
    grid-area: top;
    background-color: white;
    padding: 30px;
}
 
.top h1 {
    color: hsl(179, 62%, 43%);
    padding-bottom: 10px;
}
 
.top h2 {
    color: hsl(71, 73%, 54%);
    padding-bottom: 10px;
    font-size: 20px;
}
 
.top p {
    color: hsl(218, 22%, 67%);
    padding-bottom: 5px;
}
 
.left {
    grid-area: left;
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
}
 
.left h2 {
    color: white;
    padding-bottom: 10px;
}
 
.left p {
    color: white;
    padding-bottom: 10px;
}
 
.btn {
    background-color: hsl(71, 73%, 54%);
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    color: white;
    margin-top: 10px;
}
 
.right {
    grid-area: right;
    background-image: linear-gradient(to right, hsl(179, 62%, 50%), hsl(179, 62%, 43%));
    padding: 30px;
}
 
.attribution {
    font-size: 11px;
    text-align: center;
}
 
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 480px) {
    body {
        display: flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 100vw;
        height: 100vh;
    }
 
    .container {
        display: grid;
        width: 340px;
        height: auto;
        grid-template-areas:
            "top"
            "left"
            "right";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.200);
        border-radius: 10px;
        overflow: hidden;
    }
}
 
@media screen and (min-width: 480px) {
    body {
        display: flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 100vw;
        height: 100vh;
    }
   
    .container {
        display: grid;
        width: 620px;
        height: 460px;
        grid-template-areas:
            "top top"
            "left right";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.200);
        border-radius: 10px;
        overflow: hidden;
    }
}